
.board {
    border: 2px solid saddlebrown;
    width: 90vw;
    height: 90vw;
    max-height:300px;
    margin: auto;
    user-select: none;
}

.cell {
    width: 9vw;
    height: 9vw;
    display: table-cell; vertical-align: middle;
    position: relative;
    background-color: saddlebrown;
    text-align: center;
    cursor: default;
}

.state-0 {
    background-color: darkgoldenrod;
}

.player {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display:inline-block;
    position: relative;
}

.player.a{
    background-color:wheat;
    cursor: grab;
}

.player.b{
    background-color: #2c271e;
 }

#info{
    text-align: center; font-size: 26pt;
    display:block;
    height: 100px;
}
